$white: #FFFFFF;
$black: #000000;
$lightBlue: rgb(200 238 245);
$red-Color: #490036;

@mixin title {
    font-size: 42px;
    font-weight: 500;
    color: $red-Color;
}


@mixin sub-title {
    font-size: 20px;
    font-weight: 500;
    color: $black;
}


@mixin para {
    font-size: 16px;
    font-weight: 400;
    color: $black;
    line-height: 23px;
}


//////////////////////

.about_section {

    .bg_title {
        background-color: $white;

        .title {
            @include title;
        }
    }

    .content_sec {

        h6{
            @include  sub-title
        }

        // .title {
        //     @include sub-title;
        // }

        .para {
            @include para;
        }
    }
}


@media only screen and (max-width: 600px) {
   
    .bg_title {

        .title {
            font-size: 24px !important;
        }
    }
  }