$white: #FFFFFF;
$background: #25318D;
$black: #000000;
$lightBlue: rgb(200 238 245);
$creamColor: rgb(232 230 230);
$background-color : #DFDEF5;
$textdark: #131946;

$red-Color: #490036;
$yellow-color: #a0ca06;

@mixin title {
    font-size: 42px;
    font-weight: 500;
    color: $textdark;
}


@mixin sub-title {
    font-size: 20px;
    font-weight: 500;
    color: $black;
}


@mixin para {
    font-size: 16px;
    font-weight: 400;
    color: $black;
    line-height: 23px;
}


//////////////////////

.contact_section {

    .bg_title {
        background-color: $white;

        .title {
            @include title;
        }
    }

    .sub_title {
        @include sub-title;
    }

    .form_section {

        input,
        textarea {
            border: 2px solid $red-Color;
            border-radius: 0px;
            box-shadow: none;

            &:hover {
                border: 1px solid $red-Color;
            }
        }

        input:focus,
        input:active {
            border: 1px solid $red-Color;
        }


        .button_div {
            display: flex;
            justify-content: end;

            .btn_submit {
                background-color: $yellow-color;
                border-radius: 0px;
                width: 150px;
                padding: 4px;
                color: $white;
                font-size: 24px;

                &:hover {
                    color: $black;
                    background-color: transparent;
                    transition: 0.5s;
                }
            }
        }
    }

    h5{
        font-size: 18px;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        font-weight: 600;
    }

}

@media only screen and (max-width: 600px) {

    .bg_title {
        .title {
           font-size: 24px !important;
        }
    }
}